{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Admin Login  {% endblock %}

{% block body %}


<div class="container">
    <main>
      <div class="row g-5">

        <div class="col-md-5 col-lg-4 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Plan Details</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">{{data.name}}</h6>
              </div>
              <span class="text-muted">${{data.price}}</span>
            </li>
          </ul>

          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
              <div>
                <h6 class="my-0">Duration</h6>
              </div>
              <span class="text-muted">{{type}}</span>
            </li>
          </ul>

<form action="/charge" method="POST">
    
</form>



        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Register Now</h4>
          <form class="needs-validation" action="/charge" method="POST" novalidate>
            <div class="row g-3">
              <div class="col-sm-6">
                <label for="firstname" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstname" name="firstname" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid first name is required.
                </div>
              </div>

              <div class="col-sm-6">
                <label for="lastname" class="form-label">Last name</label>
                <input type="text" class="form-control" name="lastname" id="lastname" placeholder="" value="" required>
                <div class="invalid-feedback">
                  Valid last name is required.
                </div>
              </div>

              <div class="col-12">
                <label for="username" class="form-label">Username</label>
                <div class="input-group has-validation">
                  <span class="input-group-text">@</span>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                <div class="invalid-feedback">
                    Your username is required.
                  </div>
                </div>
              </div>

              <div class="col-12">
                <label for="email" class="form-label">Email <span class="text-muted"></span></label>
                <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                  Please enter a valid email address for shipping updates.
                </div>
              </div>
              <div class="col-12">
                <label for="password" class="form-label">Password <span class="text-muted"></span></label>
                <input type="password" class="form-control" name="password" id="password" placeholder="********">
                <div class="invalid-feedback">
                  Please enter a valid password for registeration.
                </div>
              </div>

              <div class="col-12">
                <label for="address1" class="form-label">Address</label>
                <input type="text" class="form-control" id="address1" name="address1" placeholder="1234 Main St" required>
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>

              <div class="col-12">
                <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" name="address2" placeholder="Apartment or suite">
              </div>


            </div>
            
			<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key={{key}}
        data-amount={{data.price*100}}
        data-name="payment"         
        data-locale="auto">
    </script>
	<input type="number" value={{data.price}} name="amount" id="amount" style="display:none">
    <script>
        // Hide default stripe button, be careful there if you
        // have more than 1 button of that class
        document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
    </script>
	<div class="spacingg">
              <br>
            </div>
    <button type="submit" class="btn rounded-pill btn-dark py-2 px-4">Sign Up Now</button>
	<div class="spacingg">
              <br><br>
            </div>
		</form>

        </div>
      </div>
    </main>
</div>
<div class="spacingg">
  <br><br><br>
</div>
    {% include 'footer.html' %}

    {% endblock %}
