{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Pricing {% endblock %}


{% block body %}


<div class="notfound-page">
    <div class="wrapper">
      <h1>404!</h1>
      <h5>Sorry, Page not found</h5>
      <p>Which page you are looking for might have been removed had its name changed or is tempoarial unaviable</p>
      <div class="buttons">
        <a href="/"><i class="fas fa-home"></i> Go to Home</a>
        <a href="/contact"><i class="fas fa-envelope"></i> Contact Us</a>
      </div>
    </div>
  </div>


{% include 'footer.html' %}
{% endblock %}
