{% extends 'base.html' %}
{% block body %}

<nav class="navbaradmin">
    <ul>

        <li><a class="admin_topnav"></i>Welcome</a></li>
    </ul>
</nav>
<div class="container-fluid display-table">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
            <div class="navi">
                <ul>
                    <li class="active"><a href="/admin"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Dashboard</span></a></li>
                    <li><a href="/admin/plans"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Plans</span></a></li>
                    <li><a href="/admin/view/user"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                    <li><a href="/admin/view/invoices"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Transactions</span></a></li>
                    <li><a href="/admin/testimonial"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Testimonials</span></a></li>
                    <li><a href="/admin/view/admin"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Change Password</span></a></li>
                    <li><a href="/admin/logout"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Logout</span></a></li>
                </ul>
            </div>
        </div>

{% endblock%}
