{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<body class="home">


    {% include 'admin_nav.html' %}


    <div class="col-lg-9 my-lg-1 my-1">
      <div id="main-content">

      <div class="qasim h3">Payments</div>
      <div class="container">
        <div class="row">
        <div class="col-md-6">
          <div class="card-counter primary">
            <i class="fas fa-dollar-sign"></i>
            <span class="count-numbers">{{t_month.total}}</span>
            <span class="count-name">Current Month Payments</span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card-counter danger">
            <i class="fa fa-usd"></i>
            <span class="count-numbers">{{plans.total}}</span>
            <span class="count-name">Total Payments</span>
          </div>
        </div>


      </div>

    </div>

          <br><br>
          <div class="qasim h3">User Information</div>
          <div class="container">
            <div class="row">
            <div class="col-md-4">
              <div class="card-counter primary">
                <i class="fas fa-users"></i>
                <span class="count-numbers">{{total_users.total_users}}</span>
                <span class="count-name">Total Users</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card-counter danger">
                <i class="fas fa-users"></i>
                <span class="count-numbers">{{active_users.active_users}}</span>
                <span class="count-name">Active Users</span>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card-counter success">
                <i class="fas fa-users"></i>
                <span class="count-numbers">{{new_users.new_users}}</span>
                <span class="count-name">New Users</span>
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
  <!-- </div> -->


  <br><br>
        <div class="qasim h3">Active Plans</div>
        <div class="container">
          <div class="row">
          <div class="col-md-4">
            <div class="card-counter primary">
              <i class="fas fa-money-bill-wave"></i>
              <span class="count-numbers">{{total_active_plans.total_active_plans}}</span>
              <span class="count-name">Total Plans</span>
            </div>
          </div>


        </div>

      </div>



    <br><br>
    </div>

</div>


</body>



{% include 'footer.html' %}
{% endblock %}
