{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<body class="home">
    

    {% include 'admin_nav.html' %}

    {% for row in data%}
    <div class="container rounded bg-white mt-12 mb-10">
        <div class="row">
            <div class="col-md-12 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Your Profile</h4>
                    </div>
                    {% with messages = get_flashed_messages() %}
                            
                            {% if messages %}
                            {% for msg in messages%}
                            
                            <p class="admin_flash">{{msg}}</p>
                            
                            {% endfor %}
                            
                            {% endif %}
                            
                            {% endwith %}
                    <form action="{{url_for('adminview')}}" method="POST">
                    <div class="form-group">
            
                        <label>Username:</label>
                        <input type="text" class="form-control" name="name" value="{{row.username}}" required="1" disabled> 

                     </div>


                     <div class="form-group">
            
                        <label>Email:</label>
                        <input type="text" class="form-control" name="name" value="{{row.email}}" required="1" disabled>

                     </div>

                     
                     <div class="form-group">
            
                        <button type="button"  class="btn btn-primary float-right" data-toggle="modal" data-target="#mymodal">Edit Profile</button> 
    
                     </div>
      
                    </form>

            </div>
        </div>
    </div>
    </div>

    <!-- Modal Edit Admin Profile-->
            
            
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
 
             <h4 class="modal-title">Update</h4>
          </div>
          <div class="modal-body">
 
             <form action="{{url_for('adminedit')}}" method="POST">

                <input type="hidden"  name="id" value="{{row.id}}">
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control form-control-lg" name="password" />
                </div>

                <div class="form-group">
 
 
                   <button class="btn btn-primary" type="submit">Update</button>
 
 
                </div>
 
 
             </form>
 
 
          </div>
 
 
          <div class="modal-footer">
 
 
             <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
 
 
          </div>
 
 
       </div>
 
 
    </div>
 
 
 </div>

<!-- Close of add plan -->

    {% endfor %}
    </div>


</body>


{% include 'footer.html' %}
{% endblock %}



