{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} FAQs {% endblock %}


{% block body %}



<script>


  $(".set > a").on("click", function() {
    if ($(this).hasClass("active")) {
      $(this).removeClass("active");
      $(this)
        .siblings(".set .content")
        .slideUp(200);
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
    } else {
      $(".set > a i")
        .removeClass("fa-minus")
        .addClass("fa-plus");
      $(this)
        .find("i")
        .removeClass("fa-plus")
        .addClass("fa-minus");
      $(".set > a").removeClass("active");
      $(this).addClass("active");
      $(".set .content").slideUp(200);
      $(this)
        .siblings(".set .content")
        .slideDown(200);
    }
  });

</script>

<div class="accordion-container">

                 <div class="set">
                     <a href="javascript:void(0)" class="active">
                       Can I start on one plan and upgrade to another?
       <i class="fa fa-minus"></i>
     </a>
                     <div class="content" style="display: block;">
                         <p>Yes, of course, just click on the get started button on the new plan and we will take care of the rest.</p>
                     </div>
                 </div>

                 <div class="set">
                     <a href="javascript:void(0)">
                       What is the difference between price plans?
       <i class="fa fa-plus"></i>
     </a>
                     <div class="content" style="display: none;">
                         <p>Each plan offers a different number of features and is based upon your own activity. Light users can start with the Learner Plan, whereas Heavy Users can start on the Pro User Plan
</p>
                     </div>
                 </div>

                 <div class="set">
                     <a href="javascript:void(0)">
                       Will my plan renew automatically?<i class="fa fa-plus"></i>
                     </a>
                     <div class="content">
                         <p>Yes, your plan renews automatically.</p>
                     </div>
                 </div>

                 <div class="set">
                     <a href="javascript:void(0)">
                       Do unused searches etc. roll over to the next month?<i class="fa fa-plus"></i>
                     </a>
                     <div class="content">
                         <p>No – each month resets for features.</p>
                     </div>
                 </div>

                 <div class="set">
                     <a href="javascript:void(0)">
                       Can I cancel my subscription?<i class="fa fa-plus"></i>
                     </a>
                     <div class="content">
                         <p>You can cancel the renewal of your plan at any time for any reason. Click on my account, go to the account tab, and click ‘cancel’.</p>
                     </div>
                 </div>

                 <div class="set">
                     <a href="javascript:void(0)">
                       Can I cancel my subscription?<i class="fa fa-plus"></i>
                     </a>
                     <div class="content">
                         <p>You can cancel the renewal of your plan at any time for any reason. Click on my account, go to the account tab, and click ‘cancel’.</p>



<br>
<b><u>Increase conversions</u></b>

<p>Increase your conversion rates by targeting prospective clients with zero or one Street View and 360 Photos</p>

<b><u>Reduce bounce rates</u></b>
<br>
<p>Decrease bounce rates by targeting specific prospects with real details directly from the website</p>

<b><u>Build your email list</u></b>
<br>
<p>Easily build your email list through downloadable files.</p>

                     </div>
                 </div>
<br><br><br><br>


<div class="container my-5 py-5 z-depth-1">


  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">

    <div class="row mb-5">
      <div class="col-md-4 mx-auto">
        <div class="">
          <img src="https://mdbootstrap.com/img/illustrations/undraw_connected_world_wuay.svg" class="img-fluid" >
        </div>
      </div>
    </div>

    <h6 class="font-weight-bold mb-4 pb-2">Still have questions, email us at <a href="mailto:support@streetviewspectator.com">support@streetviewspectator.com</a>
</h6>

  </section>
  <!--Section: Content-->


</div>



{% include 'footer.html' %}
{% endblock %}
