{% extends 'base.html' %}
{% block body %}
<!--Bottom Footer-->

<style >
  footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;




}
</style>


<div style="background:#0E1A35 !important; padding-top: 15px !important; width:100% !important;"  class="footer">

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="copyright">
                    <p style="
    color: white;">COPYRIGHT  2021 Street View Spectator</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Bottom Footer-->
{% endblock %}
