{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<body class="home">
    {% include 'admin_nav.html' %}

            <div class="container">
                <div class="row">
                    <div class="col md-12">

                        <div class="jumbotron p-3">

                            <h2>Transactions</h2>

                            <table class="table table-hover table-dark">


                                <tr>

                                    
                                    <th>#</th>
                                    <th>Username</th>
                                    <th>Plan</th>
                                    <th>Date</th>
                                    <th>Price</th>

                                </tr>


                                {% for row in plans %}

                                <tr>
                                    <td>{{plans.index(row)+1}}</td>
                                    <td>{{row.un}}</td>
                                    <td>{{row.n}}</td>
                                    <td>{{row.d}}</td>
                                    <td>{{row.t}}</td>
                                </tr>

                                {% endfor %}


                            </table>

                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                   {% for row in total[0:] %} 
                                  <li class="page-item"><a class="page-link" href="{{domain_url}}admin/view/invoices/page/{{total.index(row)+1}}">{{total.index(row)+1}}</a></li>
                                  {% endfor %}

                                </ul>
                              </nav>


                        </div>


                   




                  </div>


               </div>


            </div>






</body>


{% endblock %}
