{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Admin Login  {% endblock %}

{% block body %}

<div class="container login__container my-5">
    <div class="row login__row">
        <div class="col-md-6 d-flex">
            <img class="login__imagek align-self-center" src="{{ url_for('static', filename='images/password.png') }}"
                width="100%" alt="" />
        </div>
        <div class="col-md-5 d-flex">
            <div class="align-self-center card login__card shadow-sm w-100">
                <div class="card-body">
                        <h2 class="text-dark text-center">Enter New Password Now</h2>
                        <form action="/adminlogin/password?id={{id}}" method="POST">
                        <div class="">
                            <div class="form-group">
                                <label for="">New Password</label>
                                <input type="password" class="form-control form-control-lg" name="password"/>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Reset" class="btn btn-primary btn-lg btn-block my-3">
                            </input>
                                <div class="dropdown-divider my-4"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.html' %}
{% endblock %}
