{% extends 'base.html' %}

{% block title %} Add Plans {% endblock %}


{% block body %}


<style>

body > div.container-fluid.display-table > div > div.container > div > div > div.jumbotron.p-3 
{

    margin-top : -150px !important;


</style>



<body class="home">
    {% include 'admin_nav.html' %}

            <div class="container">
                <div class="row">
                    <div class="col md-12">

                        <div class="jumbotron p-3">

                            <h2>Manage <b>Plans </b> <button type="button"  class="btn btn-primary float-right"
                            data-toggle="modal" data-target="#mymodal">Add New Plan</button> </h2>


                            {% with messages = get_flashed_messages() %}

                            {% if messages %}

                            {% for message in messages %}

                            <div class="alert alert-success alert-dismissable" role="alert">

                                <button type="button" class="close" data-dismiss="alert" aria-label="close">

                                    <span aria-hidden="true">x</span>

                                </button>


                            {{message}}


                            </div>


                            {% endfor %}

                            {% endif %}
                            {% endwith %}

                            <table class="table table-hover table-dark">





                                <tr>

                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Searches</th>
                                    <th>Limits</th>
                                    <th>Price</th>
                                    <th>Yearly</th>
                                    <th>Discount</th>

                                    <th>Action</th>

                                </tr>


                                {% for row in plans %}

                                <tr>
                                    <td>{{plans.index(row)+1}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.description}}</td>
                                    <td>{{row.num_searches}}</td>
                                    <td>{{row.limits}}</td>
                                    <td>{{row.price}}</td>
                                    <td>{{row.yearly}}</td>
                                    <td>{{row.discount}}</td>



                                    <td>
                                        <!-- <button type="button"  class="btn btn-primary float-right" data-toggle="modal" data-target="#mymodal">Add New Plan</button> -->
                                        <a href="/admin/plans/edit/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#editplan{{row.id}}">Edit</a>
                                        <a href="/admin/plans/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

                                    </td>

                                </tr>


                                 <!-- Edit Plan  -->



            <div id="editplan{{row.id}}" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <h4 class="modal-title">Edit Plan</h4>
                     </div>
                     <div class="modal-body">

                        <form action="{{url_for('edit')}}" method="POST">


                           <div class="form-group">

                              <label>Name:</label>
                              <input type="hidden"  name="id" value="{{row.id}}">
                              <input type="text" class="form-control" name="name" value="{{row.name}}" required="1">


                           </div>


                           <div class="form-group">


                              <label>Description:</label>
                              <textarea type="text" class="form-control" name="description" required="1">{{row.description}}</textarea>


                           </div>

                           <div class="form-group">


                              <label>Searches:</label>
                              <input type="text" class="form-control" name="num_searches" value="{{row.num_searches}}" required="1">


                           </div>

                           
                           <div class="form-group">


                              <label>Results:</label>
                              <input type="text" class="form-control" name="limits" value="{{row.limits}}" required="1">


                           </div>

                           

                           <div class="form-group">


                              <label>Price:</label>
                              <input type="text" class="form-control" name="price" value="{{row.price}}" required="1">


                           </div>


                           <div class="form-group">


                              <label>Discount:</label>
                              <input type="text" class="form-control" name="discount" value="{{row.discount}}" required="1">


                           </div>






                           <div class="form-group">


                              <button class="btn btn-primary" type="submit">Save</button>


                           </div>


                        </form>


                     </div>


                     <div class="modal-footer">


                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                     </div>


                  </div>


               </div>


            </div>



           <!-- close of edit plan  -->


                                {% endfor %}


                            </table>


                        </div>

        <!-- Modal Add Plan-->


            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                   <div class="modal-content">
                      <div class="modal-header">

                         <h4 class="modal-title">Add Plan</h4>
                      </div>
                      <div class="modal-body">

                         <form action="/admin/plans/insert" method="POST">


                            <div class="form-group">

                               <label>Name:</label>
                               <input type="text" class="form-control" name="name" required="1">


                            </div>

                            <div class="form-group">


                              <label>Description:</label>
                              <textarea type="text" class="form-control" name="description" required="1">Enter plans here...</textarea>


                           </div>

                           <div class="form-group">


                              <label>Searches:</label>
                              <input type="text" class="form-control" name="num_searches" required="1">


                           </div>


                           <div class="form-group">


                              <label>Reseults:</label>
                              <input type="text" class="form-control" name="limits" required="1">


                           </div>


                             <div class="form-group">


                               <label>Price:</label>
                               <input type="text" class="form-control" name="price" required="1">


                            </div>


                            <div class="form-group">


                              <label>Discount:</label>
                              <input type="text" class="form-control" name="discount"  required="1">


                           </div>




                            <div class="form-group">


                               <button class="btn btn-primary" type="submit">Add Plan</button>


                            </div>


                         </form>


                      </div>


                      <div class="modal-footer">


                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                      </div>


                   </div>


                </div>


             </div>

            <!-- Close of add plan -->





                  </div>


               </div>


            </div>








</body>


{% endblock %}