{% extends 'base.html' %}
{% include 'header.html' %}


{% block title %} Pricing {% endblock %}


{% block body %}

<form action="/price" method="POST">
<section class="pricing-tables text-center">
  <div class="row white">
    <div class="container">
        <h2 class="section__title">Pricing</h2>
        <div class="switch">
            <span class="monthly">Monthly</span>
            <input type="checkbox" class="custom-switch">
            <span class="annually">Annually
            </span>
        </div>
		{% with messages = get_flashed_messages() %}

                            {% if messages %}
                            {% for msg in messages%}

                            <p class="admin_flash">{{msg}}</p>

                            {% endfor %}

                            {% endif %}

                            {% endwith %}
        <div class="plans grid-wrapper text-center">
                {% for row in plans %}
            <div class="plan plan--starter flex-wrapper">
                <div class="plan__head">
                    <h3 class="plan__title caps lspg2">{{row.name}}</h3>
                    <div class="plan__price">
                        <span class="price price--monthly">$ {{row.price}}<span class="plan__type">Monthly</span></span>
                        <span class="price price--annually">$ {{row.yearly}}<span class="plan__type">Annually</span></span>
                    </div>
                </div>
                <div class="plan__features">
                    <p>
                        <textarea class="mystery_text" disabled="disabled" rows="6w" cols="30">{{row.description}}</textarea>

                    </p>
                </div>


                <a href="{{ url_for('user_register', id=row.id ) }}&type=monthly" type="button" class="plan__btn--start btn btn-default--outline btn-lg">Get started</a>




            </div>
  {% endfor%}
        </div>

    </div>
  </div>

    <!-- testimonial -->

<div class="spacingg">
      <br><br>
</div>



<section class="bg-white testimonials-clean">

  <form action="/price" method="POST">

    <div class="container">
        <div class="intro">
            <h2 class="text-center">Testimonials </h2>
            <p class="text-center">Our customers love us! Read what they have to say below. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae.</p>
        </div>


        <div class="row people">
  {% for row in data %}

            <div class="col-md-6 col-lg-4 item">
                <div class="bg-light box">
                    <p class="text-dark description">{{row.description}}</p>
                </div>
                <div class="author">
                    <h5 class="name">{{row.name}}</h5>
                    <p class="text-dark title">{{row.designation}}</p>
                </div>
            </div>
            <br>
            <br>
                      {% endfor %}
        </div>



    </div>
</form>
</section>



  <div class="spacingg">
    <br><br>
  </div>
</section>

</form>
<script>
    $(".custom-switch").each(function(i) {
    var classes = $(this).attr("class"),
        id      = $(this).attr("id"),
        name    = $(this).attr("name");

    $(this).wrap('<div class="custom-switch" id="' + name + '"></div>');
      $(this).after('<label for="custom-switch-' + i + '"></label>');
    $(this).attr("id", "custom-switch-" + i);
    $(this).attr("name", name);
  });
  $(".custom-switch input").change(function() {
    $(".pricing-tables").toggleClass("plans--annually");
    $(".plan__btn--start").toggleClass("plan__btn--yearly")
    var x=document.getElementsByClassName('plan__btn--start')
    for (let i=0 ; i<x.length ;i++){
      let str=x[i].getAttribute('href');
      let mon=str.replace('monthly','yearly');
      let year=str.replace('yearly','monthly');
      if (str.includes('monthly')){
        x[i].removeAttribute('href');
        x[i].href=mon;
      }
      else if (str.includes('yearly')){
        x[i].removeAttribute('href');
        x[i].href=year;

      }
    }
  });
</script>

{% include 'footer.html' %}
{% endblock %}
