{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<body class="home">
    {% include 'admin_nav.html' %}

            <div class="container">

               <form  action="/admin/view/user" method="POST">
                  <div class="row height d-flex justify-content-center align-items-center">
                      <div class="col-md-8">
                          <div class="search"> <i class="fa fa-search"></i> <input type="text" name = "search" class="form-control" placeholder="Looking for User?"> <button class="btn btn-primary" type="submit">Search</button> </div>
                      </div>
                  </div>
              </form>
              <br><br><br>
                <div class="row">


                    <div class="col md-12">
                       

                        <div class="jumbotron p-3">

                            <h2>Manage <b>Users </b> </h2>



                            {% with messages = get_flashed_messages() %}

                            {% if messages %}

                            {% for message in messages %}

                            <div class="alert alert-success alert-dismissable" role="alert">

                                <button type="button" class="close" data-dismiss="alert" aria-label="close">

                                    <span aria-hidden="true">x</span>

                                </button>


                            {{message}}


                            </div>

                            {% endfor %}

                            {% endif %}
                            {% endwith %}


                            

                            <table class="table table-hover table-dark">





                                <tr>

                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email address</th>
                                    <th>Current Plan</th>
                                    <th>Start Date of Plan</th>
                                    <th>End Date of Plan</th>
                                    <th>Action</th>

                                </tr>


                                {% for row in user %}

                                <tr>

                                 <td>{{user.index(row)+1}}</td>
                                 <td>{{row.username}}</td>
                                    <td>{{row.email}}</td>
                                    <td>{{row.plan_name}}</td>
                                    <td>{{row.start_date}}</td>
                                    <td>{{row.end_date}}</td>



                                    <td>
                                        <!-- <button type="button"  class="btn btn-primary float-right" data-toggle="modal" data-target="#mymodal">Add New Plan</button> -->
                                        <a href="/admin/edit/user/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#edituser{{row.id}}">Edit</a>
                                        <a href="/admin/delete/user/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>

                                    </td>

                                </tr>
                                 <!-- Edit Plan  -->



            <div id="edituser{{row.id}}" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <h4 class="modal-title">Edit User</h4>
                     </div>
                     <div class="modal-body">

                        <form action="/admin/edit/user" method="POST">


                           <div class="form-group">


                              <label>Username:</label>
                              <input type="hidden"  name="id" value="{{row.id}}">
                              <input type="hidden"  name="id">
                              <input type="text" class="form-control" name="username"  disabled value="{{row.username}}" required="1">


                           </div>


                           <div class="form-group">

                              <label>Email:</label>
                              <input type="text" class="form-control" name="email" value="{{row.email}}" required="1">


                           </div>


                           <div class="form-group">


                              <button class="btn btn-primary" type="submit">Save</button>


                           </div>


                        </form>


                     </div>


                     <div class="modal-footer">


                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                     </div>


                  </div>


               </div>


            </div>



           <!-- close of edit plan  -->


                                {% endfor %}


                            </table>

                           
                              
                              <nav aria-label="Page navigation example">
                                 <ul class="pagination">
                                    {% for row in total[0:] %} 
                                   <li class="page-item"><a class="page-link" href="{{domain_url}}admin/view/user/page/{{total.index(row)+1}}">{{total.index(row)+1}}</a></li>
                                   {% endfor %}

                                 </ul>
                               </nav>
                          </div>

                        
                        </div>

                  

                       
                       
        <!-- Modal Add Plan-->


            <div id="mymodal" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">

                        <h4 class="modal-title">Add User</h4>
                     </div>
                     <div class="modal-body">

                        <form action="/admin/add/user" method="POST">


                           <div class="form-group">

                              <label>Username:</label>
                              <input type="hidden"  name="id">
                              <input type="text" class="form-control" name="username"  required="1">


                           </div>


                           <div class="form-group">

                              <label>Email:</label>
                              <input type="text" class="form-control" name="email" required="1">


                           </div>

                            <div class="form-group">


                              <label>Password:</label>
                              <input type="password" class="form-control" name="password" required="1">


                           </div>



                           <div class="form-group">


                              <button class="btn btn-primary" type="submit">Add User</button>


                           </div>


                        </form>


                     </div>


                     <div class="modal-footer">


                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                     </div>


                  </div>


               </div>


            </div>


            <!-- Close of add plan -->





                  </div>


               </div>


            </div>



                    </div>

                </div>


            </div>

        </div>

    </div>




</body>


{% endblock %}
