{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

{% include 'user_nav.html' %}

<div class="container rounded mt-5 bg-white p-md-5">
    <div class="h2 font-weight-bold">Transactions</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>

                    <th scope="col">Plan</th>
                    <th scope="col">Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
              {% for row in plans %}
            <tbody>


                <tr class="bg-blue">
                    <td class="pt-3 mt-1">{{row.n}}</td>
                    <td class="pt-3 mt-1">{{row.d}}</td>
                    <td class="pt-3 mt-1">{{row.t}}</td>
                    <td class="pt-3">{{row.s}}</td>
                    <td> <a href="" class="btn btn-dark btn-xs" data-toggle="modal" data-target="">Renew</a></td>
                </tr>

            </tbody>
              {% endfor %}
        </table>
    </div>
</div>


{% include 'footer.html' %}
{% endblock %}
