{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}
<style>

    body > div.container-fluid.display-table > div > div.container > form > div
    {
        margin-top: -300px !important;
    }
    
    
    </style>
    
<body class="home">
    {% include 'user_nav.html' %}


    <div class="container">
        <form  action="/user_home" method="POST">
            <div class="row height d-flex justify-content-center align-items-center">
                <div class="col-md-8">
                    <div class="search"> <i class="fa fa-search"></i> <input type="text" name = "search" class="form-control" placeholder="Looking for Data?"> <button class="btn btn-primary" type="submit">Search</button> </div>
                </div>
            </div>
        </form>

        {% with messages = get_flashed_messages() %}
                            
        {% if messages %}
        {% for msg in messages%}
        
        <p class="admin_flash">{{msg}}</p>
        
        {% endfor %}
        
        {% endif %}
        
        {% endwith %}
      


<div class="container mt-3 mb-3">
    <div class="d-flex flex-row align-items-center"></div>
    <div class="heading mt-2"> <span>Account Details</span> </div>
    <div class="row mt-1 g-4">
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"></div>
                <div class="email mt-1"> <H4 class=" align-items-center" >USER INFORMATION</<H4>
                    <div class="dummytext mt-1"> <span></span> </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Name:</b> {{user.Name}}</li>
                    <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
                    <li class="list-group-item"><b>Status:</b> Active</li>
                   
                </ul>
                </div>
        </div>
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"></div>
                <div class="email mt-1"> <H4 class=" align-items-center" >PLAN INFORMATION</<H4>
                    <div class="dummytext mt-1"> <span></span> </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Name:</b> {{p.name}}</li>
                    <li class="list-group-item"><b>price:</b> ${{p.price}}/Month</li>
                    <li class="list-group-item"><b>End Date:</b> {{p.date}}</li>
                   
                </ul>
                </div>
        </div>
    
        <div class="col-md-4">
            <div class="card p-2">
                <div class="d-flex p-1 px-4 align-items-center"></div>
                <div class="email mt-1"> <H4 class=" align-items-center" >PLAN STATISTICS</<H4>
                    <div class="dummytext mt-1"> <span></span> </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Total Searches:</li>
                    <li class="list-group-item">Searches Used:</li>
                    <li class="list-group-item">Plan Results:</li>
                </ul>
            </div>
        </div>
    </div>
</div>

</div> 

</body>



{% endblock %}
