{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

{% include 'user_nav.html' %}

<div class="container rounded mt-5 bg-white p-md-5">
    <div class="h2 font-weight-bold">Search History</div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>


                    <th scope="col">Date</th>
                    <th scope="col">Keyword</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
              {% for row in plans %}
            <tbody>


                <tr class="bg-blue">
                    <td class="pt-3 mt-1">{{row.d}}</td>
                    <td class="pt-3 mt-1">{{row.keyword}}</td>
                    <td class="pt-3 mt-1">{{row.status}}</td>
                  </tr>

            </tbody>
              {% endfor %}
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
               {% for row in total[0:] %} 
              <li class="page-item"><a class="page-link" href="{{domain_url}}search_history/{{total.index(row)+1}}">{{total.index(row)+1}}</a></li>
              {% endfor %}

            </ul>
          </nav>

    </div>
</div>


{% endblock %}
